<% include header.html %>

<div>
    <table>
        <tr>
            <td>Origin File Name: </td>
            <td><%= originFileName%></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Movie Code: </td>
            <td><input id='movieCode' value=<%= movieCode%>></td>
            <td><input type="button" value="search" onclick="javascript:search();"></td>
        </tr>
    </table>
    <!--
            <a href="javascript:get_jsonp();">Click me for jsonp</a><br />  
            <textarea id="rjsonp" cols="50" rows="3"></textarea>  
            
            <a href="javascript:get_json();">Click me for jsonp</a><br />  
            <textarea id="rjson" cols="50" rows="3"></textarea>  
            -->
</div>


<script>
    function search(){
        code = document.getElementById('movieCode').value;
        $.getJSON("search?movieCode="+code,
                function(data) {  
                    //$('#rjson').val('Json info : ' + data.status);
                    var detail = data.movieDetail;
                    if(detail){
                            //var a = $(this).children('a').attr('href');  
                            //var title = $(this).children('a').text();
                            $('#video_title').children('h3').children('a').text(detail.title);
                            $('#video_id').children().children().find('.text').text(detail.code);
                            $('#video_date').children().children().find('.text').text(detail.publishDate);
                            $('#video_cast').children().children().find('.text').text(detail.actor);
                            $('#video_jacket_img').attr('src',detail.pictureUrl);
                            
                            //alert('tags[0]' + detail.tags[0]);
                            var content = '';
                            for(var i=0; i < detail.tags.length;i++){
                                content+='<span id="genre7" class="genre"><a href="vl_genre.php?g=ai" rel="category tag">' + detail.tags[i] + '</a></span>';
                            }
                            $('#video_genres').children().children().find('.text').html(content);
                    }else{
                        alert('network error... \ntry again later');
                    }
                });  
    }
    
    function update(){
        $.getJSON("update",function(data){
           //alert('update complete'); 
        });
    }
    /*
    function get_jsonp() {
        $.getJSON("http://localhost:3000/manage/jsonp?callback=?",  //跨域调用  
                function(data) {  
                    $('#rjsonp').val('Jsonp info : ' + data.status);  
                });  
    }  
  
    function get_json(){   //Json调用  
        $.getJSON("json",  
                function(data) {  
                    $('#rjson').val('Json info : ' + data.status);  
                });  
    }  
    */
</script>

<div id="rightcolumn">
<div id="video_title"><h3 class="post-title text"><a href="http://www.javlibrary.com/cn/?v=javlior22a" rel='bookmark' >title</a></h3>
</div> <!-- end of video_title -->
<div class="post-body">
    <table id="video_jacket_info">
    <tr>
        <td style="vertical-align: top;">
            <div id="video_jacket">
                <img id="video_jacket_img" src="" width="600" height="403" border="0" onerror="ImgError(this, 1)"/>
            </div> <!-- end of video_jacket -->
        </td>
        <td style="vertical-align: top;">
            <div id="video_info">
                <div id="video_id" class="item">
                    <table>
                        <tr>
                            <td class="header">识别码:</td>
                            <td class="text">code</td>
                            <td class="icon"></td>
                        </tr>
                    </table>
                </div> <!-- end of video_id -->
                <div id="video_date" class="item">
                    <table>
                        <tr>
                            <td class="header">发行日期:</td>
                            <td class="text">date</td>
                            <td class="icon"></td>
                        </tr>
                    </table>
                </div> <!-- end of video_date -->
                <div id="video_genres" class="item">
                    <table>
                        <tr>
                            <td class="header">类别:</td>
                            <td class="text">tags</td>
                            <td class="icon"></td>
                        </tr>
                    </table>
                </div> <!-- end of video_genres -->
                <div id="video_cast" class="item">
                    <table>
                        <tr>
                            <td class="header">演员:</td>
                            <td class="text"><span id="cast1067" class="cast"><span class="star"><a href="vl_star.php?s=k4mq" rel="tag">actor</a></span> <span id="star_k4mq" class="icn_favstar" title="将这演员加入我最爱的演员名单。"></span></span></td>
                            <td class="icon"></td>
                        </tr>
                    </table>
                </div> <!-- end of video_cast -->
                <div id="update_button_div" class="item">
                    <table>
                        <tr>
                            <td><input type="button" value="update" onclick="javascript:update();"></td>
                        </tr>
                    </table>
                </div>
            </div> <!-- end of video_info -->
        </td>
    </tr>
    </table><!-- end of video_jacket_info -->
</div><!-- end of post-body -->
</div><!-- end of rightcolumn -->

<a class="btn" href="/logout">退出</a>
<% include footer.html %>